.adminDesign {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(67, 67, 67);
}
div{
    color: beige;
}