.racketDesign {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(67, 67, 67);
    color: black;
    font-weight: bolder;
    word-wrap: break-word;
}


.racketDetailCard {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 75vw;
    word-wrap: break-word;
    padding-top: 6em;

}

.detailPoster {

    height: 40vh;
}

.rentDesign {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 8em;
    border-radius: 1em;
    background-color: rgb(211, 97, 10);
    cursor: pointer;
    transition: 0.2s;
    color: bisque;
}

.rentDesign:hover {
    transition: 0.2s;
    background-color: rgb(226, 128, 54);
}
