.registerDesign {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:beige;
    height: 100%;
    width: 100vw;
    background-color: rgb(63, 63, 63);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
}

.errorText{
    color: red;
}
.registerForm{
    margin-top: 10em;
    
}