.homeDesign {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(63, 110, 199);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
    padding-top: 15vh;
}

.rosterDesign {

    display: flex;
    flex-wrap: wrap;
    background-color: rgb(63, 110, 199);
    justify-content: center;
    align-items: center;


}

 @media only screen and (max-width: 1201px) {
    .rosterDesign{
        height: 66em;
        width: 50em;
        font-size: smaller;
        text-align: center;
        word-wrap: break-word;
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 820px) {
    .rosterDesign{
        height: 63em;
        width: 53em;
        display: flex;
        flex-wrap: wrap;

    }
}

@media only screen and (max-width: 768px) {
    .rosterDesign{
        height: 60em;
        width: 44em;
        display: flex;
        flex-wrap: wrap;

        
    }
}

@media only screen and (max-width: 668px) {
    .rosterDesign{
        height: 58em;
        width: 29em;
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 560px) {
    .rosterDesign{
        height: 61em;
        width: 18em;
        display: flex;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 243px) {
    .rosterDesign {
        height: 61em;
        width: 9em;
        display: flex;
        flex-wrap: wrap;
    }
}

.loadingGif {
    height: 15em;
}

.design{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
