.loginDesign {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 85vh;
    width: 100vw;

    background-color: rgb(67, 67, 67);
}

p{
    color:bisque
}

.loginButtonDesign {

    height: 3em;
    width: 8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 97, 10);
    cursor: pointer;
    margin: 30px;
    border-radius: 1em;
    transition: 0.3s;
}

.loginButtonDesign:hover {

    transition: 0.3s;
    background-color: rgb(226, 128, 54);
}

.errorText{

    color:red;
}